.area-width {
  width: 1300px;
  margin: auto;
}

@media screen and (max-width: 1300px) {
  .area-width {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  header {
    nav {
      display: none !important;
    }
    .open-menu {
      display: block !important;
    }
  }

  aside {
    display: flex !important;
  }
  .feature-box-containeer {
    flex-direction: column;
  }

  .form_wrapper {
    width:100% !important;
    .col_half {
      width: 100% !important;
      float: none!important;
    }
  }
  .bottom_row {
    .col_half {
      width: 50%!important;
      float: left!important;
    }
  }
  .form_container {
    .row {
      .col_half.last {
        border-left: none!important;
      }
    }
  }
  .remember_me {
    padding-bottom: 20px!important;
  }
  .profile-content{
    flex-direction: column;
    align-items: center;
  } 
}

@media screen and (max-width: 1000px) {
  .image-detail {
    display: none !important;
  }
}
