header {
  background: #0000009e;
  height: 60px;
  display: block;
  color: #fff;
  position: fixed;
  width: 100%;
  z-index: 10000;
  .header-content {
    .open-menu {
      display: none;
      float: left;
      background: transparent;
      margin: 13px;
      i {
        color: #fff;
        font-size: 30px;
      }
    }
    .logo-container {
      float: left;
      display: flex;
      height: 60px;
      img {
        margin: auto 10px;
        height: 40px;
      }
    }

    nav {
      float: right;
      ul {
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0px;
        li {
          cursor: pointer;
          padding: 18px 10px;
          span {
            position: relative;
            display: block;
            padding: 3px 0;
            & > {
              a {
                color: inherit;
                text-decoration: none;
              }
            }
            &::after {
              content: " ";
              position: absolute;
              bottom: 0px;
              left: 0px;
              width: 0%;
              height: 2px;
              background: rgb(167, 163, 163);
              transition: width 0.3s;
            }
          }
          .nav-container {
            background: #00000050;
            position: absolute;
            width: 80%;
            height: 200px;
            left: 10%;
            top: 60px;
            visibility: hidden;
            opacity: 0;
            cursor: default;
            display: flex;
            transition: opacity 0.3s;
            .flex-view {
              flex-grow: 40;
              display: flex;
              flex-direction: column;
              flex-wrap: wrap;
              a {
                color: #fff;
                margin: 4px 5px;
                padding: 4px 5px;
                text-decoration: none;
                background: transparent;
                transition: background 0.3s;
                border-radius: 3px;
                &:hover {
                  background: #ffffff91;
                }
              }
            }
            .image-detail {
              flex-grow: 1;
              display: flex;
              img {
                height: 180px;
                width: 300px;
                margin: auto;
                border: 1px solid #fff;
              }
            }
          }
          &:hover {
            .nav-container {
              visibility: visible;
              opacity: 1;
            }
            span {
              &::after {
                width: 100%;
              }
            }
          }
          &.active {
            span {
              &::after {
                width: 100%;
              }
            }
          }
        }
      }
    }

    &::after {
      content: " ";
      display: block;
      clear: both;
    }
  }
}
 
.user-image {
  width: 60px;
  height: 60px;
  margin: auto 60px;
  display: block;
  border-radius: 50%;
  border: 1px solid #ccc;
}
