<header>
  <div class="header-content">
    <button class="open-menu" > d </button>
    <div class="logo-container">
      logo
    </div>
    <nav>
      <ul>
        <li>
          <span>home</span>
        </li>

        <li>
          <span>Fashion</span>
          <div class="nav-container">
            <div class="flex-view">
              <a href="">aaa</a>
              <a href="">aaa</a>
              <a href="">aaa</a>
              <a href="">aaa</a>
              <a href="">aaa</a>
              <a href="">aaa</a>
              <a href="">aaa</a>
              <a href="">aaa</a>
              <a href="">aaa</a>
            </div>
            <div class="image-detail">
              <img src="assets/images/fashion.jpg">
            </div>
          </div>
        </li>

        <li>
          <span>Accessories</span>
          <div class="nav-container">
            <div class="flex-view">
              <a href="">aaa</a>
              <a href="">aaa</a>
              <a href="">aaa</a>
              <a href="">aaa</a>
              <a href="">aaa</a>
              <a href="">aaa</a>
              <a href="">aaa</a>
              <a href="">aaa</a>
              <a href="">aaa</a>
            </div>
            <div class="image-detail">
              <img src="assets/images/watch.jpg">
            </div>
          </div>
        </li>

        <li>
          <span>Moblies & Laptops </span>
          <div class="nav-container">
            <div class="flex-view">
              <a href="">aaa</a>
              <a href="">aaa</a>
              <a href="">aaa</a>
              <a href="">aaa</a>
              <a href="">aaa</a>
              <a href="">aaa</a>
              <a href="">aaa</a>
              <a href="">aaa</a>
              <a href="">aaa</a>
            </div>
            <div class="image-detail">
              <img src="assets/images/mobile.jpg">
            </div>
          </div>

        </li>
        <li>
          <span>Others</span>
        </li>
        <li>
          <span>Login</span>
        </li>
      </ul>
    </nav>
  </div>
</header>