<header>
  <div class="header-content area-width">
    <button class="open-menu" (click)="openMenu()"> <i class="fas fa-bars"></i></button>
    <div class="logo-container">
      <img src="assets/images/logo.png">
    </div>
    <nav>
      <ul>
        <li routerLink="/home"  routerLinkActive="active">
          <span> Home </span>
        </li>

        <li>
          <span>Fashion</span>
          <div class="nav-container">
            <div class="flex-view">
              <a href="">aaa</a>
              <a href="">aaa</a>
              <a href="">aaa</a>
              <a href="">aaa</a>
              <a href="">aaa</a>
              <a href="">aaa</a>
              <a href="">aaa</a>
              <a href="">aaa</a>
              <a href="">aaa</a>
            </div>
            <div class="image-detail">
              <img src="assets/images/fashion.jpg">
            </div>
          </div>
        </li>

        <li>
          <span>Accessories</span>
          <div class="nav-container">
            <div class="flex-view">
              <a href="">aaa</a>
              <a href="">aaa</a>
              <a href="">aaa</a>
              <a href="">aaa</a>
              <a href="">aaa</a>
              <a href="">aaa</a>
              <a href="">aaa</a>
              <a href="">aaa</a>
              <a href="">aaa</a>
            </div>
            <div class="image-detail">
              <img src="assets/images/watch.jpg">
            </div>
          </div>
        </li>

        <li>
          <span>Moblies & Laptops </span>
          <div class="nav-container">
            <div class="flex-view">
              <a href="">aaa</a>
              <a href="">aaa</a>
              <a href="">aaa</a>
              <a href="">aaa</a>
              <a href="">aaa</a>
              <a href="">aaa</a>
              <a href="">aaa</a>
              <a href="">aaa</a>
              <a href="">aaa</a>
            </div>
            <div class="image-detail">
              <img src="assets/images/mobile.jpg">
            </div>
          </div>

        </li>
        <li>
          <span>Others</span>
        </li>
        <li routerLink="/signin"  routerLinkActive="active">
          <span > Signin </span>
        </li>
      </ul>
    </nav>
  </div>
</header>