<app-slideshow></app-slideshow>
<app-search-area></app-search-area>
<app-feature-box></app-feature-box>

<div class="area-width item-container">


                <app-item-card></app-item-card>
                <app-item-card></app-item-card>
                <app-item-card></app-item-card>
                <app-item-card></app-item-card>
                <app-item-card></app-item-card>
                <app-item-card></app-item-card>
                <app-item-card></app-item-card>
                <app-item-card></app-item-card>
                <app-item-card></app-item-card>
                <app-item-card></app-item-card>
                <app-item-card></app-item-card>
                <app-item-card></app-item-card>
                <app-item-card></app-item-card>
                <app-item-card></app-item-card>
                <app-item-card></app-item-card>
                <app-item-card></app-item-card>
                <app-item-card></app-item-card>
                <app-item-card></app-item-card>
                <app-item-card></app-item-card>
                <app-item-card></app-item-card>
                <app-item-card></app-item-card>
                <app-item-card></app-item-card>
                <app-item-card></app-item-card>
                <app-item-card></app-item-card>
 
</div>