section {
  margin-top: 58px;
  display: flex;
  .description-area {
    margin: 0px 15px;
    flex-grow: 1;
  }
  pre {
    font-family: "Open Sans";
    font-size: 14px;
  }
  p {
    font-size: 14px;
  }
  .title {
    font-size: 12px;
    font-weight: 700;
    display: inline;
  }
  small {
    font-weight: 800;
    font-size: 10px;
    color: #00a970;
  }
  del {
    color: gray;
    font-size: 10px;
    font-style: italic;
  }
  .user-profile {
    .profile-title {
      margin: 15px 0px 0px 0px;
    }
    .profile-content {
      display: inline-flex;
      cursor: pointer;
      .user-image {
        height: 50px;
        width: 50px;
        border-radius: 50%;
      }
    }
  }
}

mat-spinner {
    margin: 50vh auto 0px;
}


//    background: #d0ebde;