<section class="card" >

  <div class="card__info-hover">
    <i class="far fa-heart"></i>
    <i class="fas fa-heart"></i>
    <div class="card__clock-info">
      <span class="card__time">{{data.createdAt | amTimeAgo}}</span>
    </div>

  </div>
  <div class="card__img"></div>
  <a href="#" class="card_link">
    <div class="card__img--hover" [ngStyle]="{'background-image': 'url('+data.images+')'}"></div>
  </a>

  
  <div class="card__info">
    <span class="card__category"> {{data.category}}</span>
    <h3 class="card__title">{{data.name}}</h3>
    <span class="card__by">by <a href="#" class="card__author" title="author">{{data.user.username}}</a></span>
  </div>

</section>