<section class="card">

  <div class="card__info-hover">
    <i class="far fa-heart"></i>
    <i class="fas fa-heart"></i>
    <div class="card__clock-info">
      <span class="card__time">15 min</span>
    </div>

  </div>
  <div class="card__img"></div>
  <a href="#" class="card_link">
    <div class="card__img--hover"></div>
  </a>

  
  <div class="card__info">
    <span class="card__category"> Recipe</span>
    <h3 class="card__title">Crisp Spanish tortilla Matzo brei</h3>
    <span class="card__by">by <a href="#" class="card__author" title="author">Celeste Mills</a></span>
  </div>

</section>