<section class='feature-box-containeer area-width'>
    <div class='feature-box'>
        <i class="fas fa-piggy-bank"></i>
      <h3>Reasonable pricing</h3>
      <small>To establish a selling price for a product</small>
    </div>
  
    <div class='feature-box'>
        <i class="far fa-clock"></i>
      <h3>Limited time offers</h3>
      <small>Hurry up! You Don't want to miss This!</small>
    </div>
  
    <div class='feature-box'>
        <i class="fas fa-headphones"></i>
      <h3>24/7 client support</h3>
      <small>In order to provide 24X7 customer support</small>
    </div>
  
  </section>
  <hr>